<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YeetClicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="YeetClicker.Savefile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YeetClicker.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <YeetClicker.Properties.Settings>
            <setting name="Score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScorePerSecond" serializeAs="String">
                <value>0</value>
            </setting>
        </YeetClicker.Properties.Settings>
        <YeetClicker.Savefile>
            <setting name="Score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScorePerSecond" serializeAs="String">
                <value>0</value>
            </setting>
        </YeetClicker.Savefile>
    </applicationSettings>
    <userSettings>
        <YeetClicker.Settings1>
            <setting name="Score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScorePerSecond" serializeAs="String">
                <value>0.11</value>
            </setting>
        </YeetClicker.Settings1>
    </userSettings>
</configuration>